/* Mobile padrao */
.top_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  top: 0;
  z-index: 10;
  position: sticky;
  width: 100dvw;
  gap: 10dvw;
  box-sizing: border-box;
  overflow: hidden;
}

.logo {
  width: 320px;
  height: 100px;
  overflow: hidden;
  padding-left: 23dvw;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.config_button {
  background: none;
  color: white;
  border: none;
  font-size: 20px;
  padding-right: 8dvw;
}
