.main_page {
  width: 100dvw;
  height: 70dvh;
  background-color: black;
  box-sizing: border-box;
  overflow: hidden;
}

.wrap {
  box-sizing: border-box;
  border-left: 1px solid white;
  border-right: 1px solid white;
  position: relative;
  display: flex;
  width: 100dvw;
  height: 70dvh;
  overflow: hidden;
}

.video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mesh {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  background: none;
  opacity: 0.3;
}

.appointment_button {
  position: absolute;
  z-index: 2;
  margin-top: auto;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}
